<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved">Saved Articles <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline">
            <button class="btn btn-danger scrape-new" type="button">SCRAPE NEW ARTICLES!</button>
        </form>
    </div>
</nav>

<div class="jumbotron">
    <div class="overlay">

    </div>
    <div class="background-image">

    </div>
    <div class="caption">
        <h1 class="display-4">Scrape Report</h1>
        <hr class="my-4">
        <p>Video Game Edition</p>
    </div>
</div>

<div class="container article-container">

</div>

<div class="card fixed-bottom text-white text-center bg-dark">
    <div class="card-body">
        Ricardo Rodriguez &copy 2019
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="../public/assets/javascript/index.js"></script>